body {
  margin: 0;
  padding: 0;
  background-size: cover;
}

.box {
  width: auto;
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.box-img {
  border-radius: 20%;
  opacity: 0.75;
  width: 239px;
  height: 239px;
}

.box h1 {
  font-size: 47px;
  letter-spacing: 5px;
  font-weight: 100;
}

.box h5 {
  font-size: 20px;
  letter-spacing: 3.7px;
  font-weight: 100;
}

.box p {
  text-align: justify;
  letter-spacing: 1px;
}

ul {
  margin: 0;
  padding: 0;
}

.box li {
  display: inline-block;
  margin: 6px;
  list-style: none;
}

.box a {
  color: gray;
  text-decoration: none;
  font-size: 28px;
}